body { 
	color: #252525;
	font-family: sans-serif;
	
	background-color: #d1e4ff;
	margin: 0;
	width: 100%;


}


.wysiwyg {width: 980px;
	
	background-color: #ffffff;
	
	margin-left: auto;
    margin-right: auto;
  
	padding: 30px;
}

.wysiwyg code {
background-color: #f0e6d6;
	font-family: monospace;	
}

.wysiwyg kbd {
	background-color: #eadcea;
	font-family: monospace;
}

.wysiwyg samp{
	background-color: #eadcea;
	font-family: monospace;
}

.wysiwyg blockquote {
	background-color:#eadcea;
	height: 56;
	border-left-color: #b496b4;
	border-left-style: solid;
	border-left-width: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 0px;
	margin-left: 0px;
	
}

.wysiwyg pre {
	background-color:#f0e6d6;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 12px;
}

/*
.bg {
	width: 980px;
	
	background-color: #ffffff;
	
	margin-left: auto;
    margin-right: auto;
}

.text {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 65px;
	padding-bottom: 60px;
	

}

.pink {
	background-color: #f0e6d6;
	font-family: monospace;
}

.violet {
	background-color: #eadcea;
	font-family: monospace;
}

.bgviolet {
	background-color:#eadcea;
}

.line {
	border-left-color: #b496b4;
	border-left-style: solid;
	border-left-width: 4px;
}

.bgpink {
	background-color:#f0e6d6;
}*/

.square {
	list-style: square;
}

.emptysquare{
	list-style: none;
	text-indent: -1em;
}

.emptysquare::before{
	content:  '\25fd';
	padding-right: 5px;
	
}

.definition{
	font-style: italic;
	font-weight: 700;
}

.tdcolor{
	background: #eadcea;
	text-align: center;

}

table { 
   border: 1px ;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
    
   }

   td{
   	border: 1px solid #b496b4;
   	padding: 10px ;
   }